footer {
    border-top: double thick var(--rosa);
    height: auto;
    display: grid;
    grid-template: auto / 32% 2% 32% 2% 32%;
    //box-sizing: border-box;
    background-color: var(--azul);
    }
.footer-copy-contact{
    color: white;
    display: grid;
    grid-template:20% 40% 20% 20% / auto;
    text-align: center;
    align-items: center;
    & h2{
        font-size: 25px;
        font-family: serif;
    }
    
    & a{
        color: white;
        display: block;
        color: white;
        font-size: 25px;
        font-family: serif;

       &:hover{
        border: 4px solid white;
        font-size: 27px;
        border-radius: 30px;
        padding: 3px;
       }
    }
    & p{
font-size: 20px;
    }
}
.contact-data{
    list-style: none;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;

}
.footer-follow{
    text-align: center;
    display: grid;
    grid-template: 20% 80% / auto;
    align-items: center;
        
    & p{
        color: white;
        font-size: 25px;
        font-family: serif;
    }
    & img{
        width: 60px;
        height: auto;
        border-radius: 14px;
        &:hover{
            border: 4px solid white;
        }
    }
    & div{
        display: flex;
        justify-content:space-around;
    }
}

.footer-credits{
    text-align: center;
    display: grid;
    grid-template: 20% 80% / auto;
    align-items: center;
    color: white;
    font-size: 20px;
    & p{
        font-size: 20px;
        font-family: "Dancing Script", cursive;
    }
    & h2{
        font-size: 25px;
        font-family: serif;
        font-weight: 400;
    }
}
.borde1{
    border-right: 1px solid var(--rosa);
    margin: 40px 0 40px 0;
}
.borde2{
    border-left: 1px solid var(--rosa);
    margin: 40px 0 40px 0;
}
