<footer><!--GRID-->
    <div class="footer-copy-contact">
        <h2>Contact details</h2>
        <ul class="contact-data">
            <li>
                <p>vico.mg.gonzalez@gmail.com</p>
            </li>
            <li>
                <p>+5493454108912</p>
            </li>
        </ul>
        <a href="/contact">Contact me!</a>
        <p>&copy; Clases de Inglés</p>
    </div>
    <div class="borde1"></div>
    <div class="footer-follow">
        <p>Follow us!</p>
        <div>
            <a href="#"><img  src="/assets/images/instagram.png" alt="instagram"></a>
            <a href="#"><img class="follow-linkedin"src="/assets/images/linkedin.png" alt="linkedin"></a>
            <a href="#"><img class="follow-facebook" src="/assets/images/facebook.png" alt="facebook"></a>
        </div>
    </div>
    <div class="borde2"></div>
    <div class="footer-credits"><!--FLEX-->
        <h2>Created by</h2>
        <p>Manuel A. Bravard🧔</p>
         
    </div>
</footer>