<footer><!--flex-->
    <div class="footer-copy-contact"><!--GRID-->
        <h2>Contacto</h2>
        <div class="contact-data"> 
            <p>vico.mg.gonzalez@gmail.com</p>
            <p>+5493454108912</p>
        </div>
        <a href="/contact">Contactame!</a>
        <p>&copy; Clases de Inglés</p>
    </div>
    <div class="borde1"></div>
    <div class="footer-follow"><!--GRID-->
        <h2>Seguime!</h2>
        <div>
            <a href="#"><img  src="/assets/images/instagram.png" alt="instagram"></a>
            <a href="#"><img class="follow-linkedin"src="/assets/images/linkedin.png" alt="linkedin"></a>
            <a href="#"><img class="follow-facebook" src="/assets/images/facebook.png" alt="facebook"></a>
        </div>
    </div>
    <div class="borde2"></div>
    <div class="footer-credits"><!--GRID-->
        <h2>Creado por</h2>
        <p>Manuel A. Bravard</p>
         
    </div>
</footer>