<footer><!--GRID-->
    <div class="footer-copy">
        &copy; Clases de Inglés
        
    </div>
    <div class="footer-contact"><!--FLEX-->
        <a routerLink="/contact">Contacto</a>
        <div class="footer-follow">
            <p>Seguinos en:</p>
            <a href="#"><img  src="/assets/images/instagram.png" alt="instagram"></a>
            <a href="#"><img class="follow-linkedin"src="/assets/images/linkedin.png" alt="linkedin"></a>
            <a href="#"><img class="follow-facebook" src="/assets/images/facebook.png" alt="facebook"></a>
        </div>

    </div>
    <div class="footer-credits"><!--FLEX-->
        <h2>Created by</h2>
        <p>Manuel A. Bravard🧔</p>
         
    </div>
</footer>