/*---------------------------CONTACT------------------------------------------------*/
#contact-block-img2{
    background: url(/assets/images/02.jpg) fixed;
    background-size: cover;
    height: 80vw;
    width: 100%;
}

.contact-text {
    text-align: left;
    color: white;
    padding: 5vw;
    font-size: 25px;
}
.contact-text h2{
    background-color: var(--rojo);
    border-top: 3px solid white;
    border-bottom:3px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 45px;
    text-shadow: 3px 5px 4px black;/* offset-x | offset-y | blur-radius | color */
   // opacity: 80%;
}
.contact-block1{
    background-color: rgba(0,0,0,0.9);
    margin-bottom: 5vw;
}
.contact-items{
    display: block;
    margin-bottom: 2.5vw;
    border-radius: 1vw;
}
#coment{
    width: 50vw;
    height: 15vw;
    min-width: 190px;
}

.contact-large{
    width: 25vw;
    min-width: 190px;
}
.buttoms-contact{
    border-radius: 10px;
    background-color: var(--rojo);
    color: white;
    font-size: 20px;
}
.buttoms-contact:hover{
    font-size: 25px;
}
.contact-text a{
    border-radius: 10px;
    background-color: var(--rojo);
    color: white;
    font-size: 20px;
    padding: 5px;
    border:1px solid white;
}
.contact-text a:hover{
    font-size: 25px;
}