<main id="main"> 
    <div class="block-img" data-speed="1" >
        <div class="contact-container">
            <h2>Contacto</h2>
            <form name="contact" netlify>

                <label >
                    Nombre:
                    <input class="contact-items contact-large" type="text" placeholder="Ingrese aquí su nombre">
                </label>
                <label >
                    E-mail:
                    <input class="contact-items contact-large" type="email">
                </label>
                <label>
                    Edad:
                    <input class="contact-items" type="number" min="0" max="100">
                </label>
                <label >
                    País:
                    <input class="contact-items" type="text" list="paises">
                    <datalist id="paises">
                        <option>Argentina</option>
                        <option>Colombia</option>
                        <option>Perú</option>
                        <option>Ecuador</option>
                        <option>Brasil</option>
                        <option>España</option>
                        <option>Estados Unidos</option>
                        <option>Belgica</option>
                        <option>Portugal</option>
                        <option>Italia</option>
                        <option>Canada</option>
                        <option>Inglaterra</option>
                        <option>Uruguay</option>
                        <option>Otro</option>
                    </datalist>
                </label>
                <label >
                    Comentarios:
                    <textarea class="contact-items" id="box-comment"></textarea>
                </label>
                <div class="contact-items">
                    <input class="buttoms-contact" type="submit" value="¡Enviar!">
                    <input class="buttoms-contact" type="reset" value="Resetear">
                </div>
                

            </form>
            <!--Cortesía http://www.jordigonzalezboada.com/w3mentor/tema05.php-->
            <div class="click-box">
                <a href="mailto:vico.mg.gonzalez@gmail.com?
subject=Consulta%20Clases%20de%20Inglés
&body=Hola%20Vicky%20buenas%20tardes
&cc=micorreo2@dominio.com
&bcc=micorreo3@dominio.com">¡ O también podés enviarnos un e-m@il !</a>
            </div>
        </div>
    </div>

     
</main>