#block-img1 {
    background: fixed border-box url(/assets/images/1600/031600.jpg) top 15% left 50%/cover;
    height: 100%;
    width: 100%;
        @media (max-width: 3840px) {
            background: fixed border-box url(/assets/images/3840/033840.jpg) top 15% left 50%/cover;
            max-width: 1920px;
        }
        @media (max-width: 1920px) {
            background: fixed border-box url(/assets/images/1920/031920.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 1600px) {
            background: fixed border-box url(/assets/images/1600/031600.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 1280px) {
            background: fixed border-box url(/assets/images/1280/031280.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 1023px) {
            background: fixed border-box url(/assets/images/1023/031023.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 900px) {
            background: fixed border-box url(/assets/images/900/03900.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 767px) {
            background: fixed border-box url(/assets/images/767/03767.jpg) top 15% left 50%/cover;
        }
        @media (max-width: 370px) {
            background: fixed border-box url(/assets/images/370/03370.jpg);
        }
}
.container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 40px;
}