.log-title{/*FLEX CONTENEDOR DEL LOGO, TIT*/
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
    height: auto;
    }
.logo-image{
    width: 22vw;
    min-width: 100px;
    height: auto;
    margin-top: 2px;

}

.title{/*div contenedor de h1 y h2*/
    display: flex;
}
.title h1{
    font-size: 3vw;
    
}
.title h2{ 
    font-size:2vw;
    font-family: "Dancing Script", cursive;
    margin-left: 1vw;
}
.title a{
    color: white;
    text-decoration: none;
}