<div class="log-title-srch"><!-- FLEX / no olvidarme skiptomain -->   

    <div class="log-title">
        <a routerLink="./" class="logo-anchor"><img src="/assets/images/logo1.png" alt="go to home"></a>
    
        <div class="title"><!--FLEX-->
            <a routerLink="./"><h1>Clases de Inglés</h1></a>
            <a routerLink="./"><h2> con Vicky González</h2></a>
        </div>
    </div>
    
    <div class="quote">
        <p>"Never stop learning, 
            <br> because life <br> never stops teaching"</p>
        <app-searchform class="hide"></app-searchform>
    </div>
    
</div>