<div class="log-title-srch"><!-- FLEX / no olvidarme skiptomain -->   
    <a routerLink="./" class="logo-anchor">
        <img 
            src="/assets/images/logo1.png" 
            alt="go to home">
    </a>
    
    <div class="title">
        <a routerLink="./"><h1>Clases de Inglés</h1></a>
        <h2> con Vicky González</h2>
        <p>"Never stop learning, because life never stops teaching"</p>
    </div>
    
    <div class="quote"><!--FLEX-->
        <p>"Never stop learning,<br> because life <br> never stops teaching"</p>
        <app-searchform class="hide"></app-searchform>
    </div>
    
</div>