/*------------SEARCH FORM--------*/

.input-search{
    width: 20vw;
    min-width: 210px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.button-search{
    background: none;
    border: none;
}
.button-search-img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
/*-----------END SEARCH FORM--------*/