<nav>
  <div >
    <a  href="#">MEAN Employees</a>
  </div>
</nav>

<div class="box">

  <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
    <!-- THE Id's Employee -->
    <!-- name=como se llama en la base de datos -->
    <!-- ngModel:a donde va lo que estoy llenando -->
      <!-- <input name="_id" [(ngModel)]="employeeService.selectedEmployee._id"> -->

    
      <input type="text" name="name" placeholder="Enter your FullName" 
      [(ngModel)]="employeeService.selectedEmployee.name">
    

    
      
      <input type="text" name="position" placeholder="Enter your Position" 
      [(ngModel)]="employeeService.selectedEmployee.position">
      

    
      <input type="text" name="office" placeholder="Enter your Office"
      [(ngModel)]="employeeService.selectedEmployee.office">
    

   
      <input type="text" name="salary" placeholder="Enter your Salary"
      [(ngModel)]="employeeService.selectedEmployee.salary">
      

    <button>Clean</button>
    <button >Save</button>
</form>


  
      
  <!-- TABLE -->

  <table >
    <thead>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeService.employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.office }}</td>
        <td>
          <!-- <a (click)="editEmployee(employee)" class="btn btn-secondary btn-sm">
            <i class="material-icons">edit</i>
          </a> -->
          <!-- <a (click)="deleteEmployee(employee._id, employeeForm)" class="btn btn-danger btn-sm">
            <i class="material-icons">delete</i>
          </a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
