<div class="log-title-srch"><!-- FLEX / no olvidarme skiptomain -->
    
    <a href="#main" class="sr-only"><p class="skiptext">Ir al contenido principal</p></a>
    <app-log-title></app-log-title>
    <div class="quote">
        <p>"Never stop learning, 
            <br> because life <br> never stops teaching"</p>
        <app-searchform class="searchTop"></app-searchform>
    </div>
    
</div>


<app-nav></app-nav>

<app-searchform class="searchBot"></app-searchform>
    
<router-outlet id="main"></router-outlet>

<app-footer></app-footer>

<!-- <app-nav *ngIf="mostrar" ></app-nav> -->

<!-- <button (click)="toggleInformation ()" class="button-hamb">
    <img src="/assets/images/menu1.png" alt="boton nav">
</button> -->