
.log-title-srch{/*FLEX CONTENEDOR DEL LOGO, TIT, Y FORM SEARCH*/
    background: linear-gradient(.25turn, var(--azul)70%, white);
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
    height: auto;
    }
.searchBot{
    display: none;
}

@media (max-width:640px){
    .searchTop{
display: none;
    }
    .searchBot{
        display: block;
    }
}