.block{
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    display: flex;
    align-items: center;
    
        & img{
            width: 30%;
            height: 100%;
                @media (min-width: 3800px){
                    max-width: 1160px;
                }    
        }

}
.text {
    text-align: center;
    padding: 3vw;
    
        & h2{
        color: burlywood;
        font-size: 53px;
        text-shadow: 1px 1px 1px white;/* offset-x | offset-y | blur-radius | color */
        margin-top: 0;
        opacity: 80%;
            @media (max-width: 576px){
                font-size: 30px;
            }
        }
        & p{
            color: white;
            font-size: 18px;

                @media (max-width: 576px){
                    font-size: 16px;
                }
        }
        & a{
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

}
