<main id="main"> 
    <!--MODELO SCROLL CORTESÍA DE UNA COMPAÑERA TURNO MAÑÁNA-->
    <div id="block-img1" data-speed="1"><!--AQUI IMAGEN 1 FIJA + SCROLL TITULO PRINCIPAL-->
        <div class="text"> 
            <h1>¿POR QUÉ ESTUDIAR INGLÉS?</h1>
        </div>
        <div class="block1"><!---->
            <div class="text">
                <h2>Motivo-titulo-1</h2>
                <p>
                    Harry Potter se ha quedado huérfano y vive en casa de sus abominables
                    tíos y del insoportable primo Dudley. Harry se siente muy triste y solo,
                    hasta que un buen día recibe una carta que cambiará su vida para 
                    siempre.  
                </p>
            </div>
        </div>
    </div><!--FIN BLOQUE IMAGEN 1-->

    

    <div id="block-img2" data-speed="1" >
        <div class="block1"> 
            <div class="text">
                <h2>Motivo-titulo-2</h2>
                <p>
                    A partir de ese
                    momento, la suerte de Harry da un vuelco espectacular. En esa escuela
                    tan especial aprenderá encantamientos, trucos fabulosos y tácticas de
                    defensa contra las malas artes. 
                </p>
            
            </div>
        </div>
        <div class="block1">
                    <div class="text">
                        <h2>Motivo-titulo-3</h2>
                        <p>
                            Se convertirá en el campeón escolar de
                            quidditch, especie de fútbol aéreo que se juega montado sobre escobas,
                            y se hará un puñado de buenos amigos... aunque también algunos
                            temibles enemigos. 
                        </p>
                    </div>
        </div>
    </div>


    <div id="block-img3" data-speed="1" >
        <div class="block1"> 
            <div class="text">
                <h2>Motivo-titulo-4</h2>
                <p>
                    Pero sobre todo, conocerá los secretos que le
                    permitirán cumplir con su destino. Pues, aunque no lo parezca a primera 
                    vista, Harry no es un chico común y corriente. ¡Es un mago!

                </p>
            </div>
        </div>
        <div class="block1"> 
            <div class="text">
                <h2>Motivo-titulo-5</h2>
                <p>
                    El señor y la señora Dursley, que vivían en el número 4 de Privet Drive,
                    estaban orgullosos de decir que eran muy normales, afortunadamente. Eran las 
                    últimas personas que se esperaría encontrar relacionadas con algo extraño o
                    misterioso, porque no estaban para tales tonterías.
                </p>
            </div>
        </div>
    </div>  
    
    
</main>