<nav>
    <ul class="nav-list" id="nav"> 
        <li class="nav-list-item">
            <a href="/about" class="nav-list-item-link">Sobre Mí</a>
        </li>
        <li class="nav-list-item">
            <a href="/classes" class="nav-list-item-link">Cursos/Clases</a>
        </li>
        <li class="nav-list-item">
            <a href="/contact" class="nav-list-item-link">Contacto</a>
        </li>
        <li class="nav-list-item">
            <a href="/resources" class="nav-list-item-link">Recursos</a>
        </li>
    </ul>
</nav>