<nav>
    <ul class="nav-list"> 
        <li class="nav-list-item">
            <a (click)="toggleInformationNav ()" routerLink="/about" class="nav-list-item-link">Sobre Mí</a>
        </li>
        <li class="nav-list-item">
            <a (click)="toggleInformationNav ()" routerLink="/classes" class="nav-list-item-link">Cursos/Clases</a>
        </li>
        <li class="nav-list-item">
            <a (click)="toggleInformationNav ()" routerLink="/contact" class="nav-list-item-link">Contacto</a>
        </li>
        <li class="nav-list-item">
            <a (click)="toggleInformationNav ()" routerLink="/resources" class="nav-list-item-link">Recursos</a>
        </li>
    </ul>
</nav>