.nav-list{
    display: flex;
    width: 100%;
    height: 5vw;
    background-color: var(--rosa);
    list-style: none;
    margin: 0%;
    padding:0;
    
    
}
.nav-list-item{
    // position: relative;
    flex-grow: 1;
    //border-right: 1px dashed;
    align-self: center;
    text-align: center;
}   

.nav-list-item-link{
    font: 1.5vw arial;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 30px;
    padding: 1.5vw 0;
    
}
.nav-list-item-link:hover{
    text-decoration: underline;
    background-color: var(--azul);
    color: white;
}
.nav-list-item-link:focus{
padding: 1vw 0;
font-size: 1.7vw;
} 

