.hamburger{
    display: none;
        @media (max-width: 470px){
            display: block;
        }
}
.nav-list{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--rosa);
    list-style: none;
    margin: 0 0 40px 0;
    padding:0;
        
    
    
}
.nav-list-item{
    flex-grow: 1;
    align-self: center;
    text-align: center;
}   

.nav-list-item-link{
    font: 18px arial;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 30px;
    padding: 12px;
        &:hover{
            text-decoration: underline;
            background-color: var(--azul);
            color: white;
        }
        &:focus{
            text-decoration: underline;
            background-color: var(--azul);
            color: white;
        }

}
.hide{
    @media (max-width: 470px){
    display: none;
    }
}