<main> 
    <div id="block-img1" data-speed="1">
        <app-block-title 
        [title]="title"
        ></app-block-title>
        <div class="container">
            
            <app-block-data-resources
            *ngFor="let recurso of recursos"
            [blockTitle]="recurso.titulo"
            [blockText]="recurso.tipo"
            [link]="recurso.url"
            [src]="recurso.src"
            [alt]="recurso.alt"
            >
            </app-block-data-resources> 
            
            
            
        </div>
    </div>
</main>
