<main> 
    <div id="block-img1" data-speed="1">
        <app-block-title 
        [title]="title"
        ></app-block-title>
        <div class="container">
            
            <!-- este bloque se muestra de 1601px para arriba -->
            <app-block-data-resources class="hide"
            *ngFor="let recurso of recursos"
            [blockTitle]="recurso.titulo"
            [blockText]="recurso.tipo"
            [link]="recurso.url"
            [src]="recurso.src"
            [alt]="recurso.alt"
            >
            <!-- este bloque se muestra de 1600px para abajo -->
            </app-block-data-resources> 
            <app-block-data-resources class="show"
            *ngFor="let recurso of recursos"
            [blockTitle]="recurso.titulo"
            [blockText]="recurso.tipo"
            [link]="recurso.url"
            [src]="recurso.src1600"
            [alt]="recurso.alt"
            >
            </app-block-data-resources>
            
        </div>
    </div>
</main>
