:root {
   
    --cielo:#ACC8E5;
    --verde:#79E089;
    --rosa:#DDC4C4;
    --azul:#093048;
    --rojo: #a8011b;
    --gris:#bebebe;
 
 }
 body{
    background-color:var(--rojo);
      @media (max-width: 576px){
         margin:0;
         padding:0;
  }
    
 }
 